/*HEADER*/
header{
    
    background-color: black;
    width: 100%;
}
body{
    width: 100%;
    overflow-x: hidden;
    background-color: rgb(145, 142, 138);
}
.headercontainer{
    display: flex;
    width: 100%;
    background-color: black;
    position: relative;
}
a{
    text-decoration: none;
}
.Logo{
    width:10%;
    align-items: center;
}
#socialmedialogo{
    width: 50px;
    height: 15px;
}
#logoimage{
    width: 90%;
    height: 90%;
    padding: 2px;
}
.menu-search-container{
    width:70%;
}
.menu-select nav{
    width 100%;
    margin: 0;
    padding: 0;
}
#searchbutton{
    width:15px;
    height: 20px;
    
    
}
.search button{
     text-decoration: none;
          vertical-align: bottom;
          background-color: rgb(245, 197, 24);
          border: none;
          box-shadow: none;
          padding: 6px 12px;
    margin-top: 3px; 
    width :5%;
}
.search select{
    width:10%;
}
.Socialmedia{
    width: 15%;
}

.submenu-container{ 
    position: absolute;
    display: flex; 
    background-color: rgba(224, 224, 206,1);
    color: black;
    visibility: hidden;
    opacity: 0;
    border-radius: 5px;
    width: 600px;
    top: 100%;
box-shadow: 5px 5px 15px 5px #000000;
}

.menu-principal a{
    color: white;
    
}
.submenu-container h2 a{
    color:darkorange;
    font-family: "Arial Black", Gadget, sans-serif;
    letter-spacing: -0.6px;
    word-spacing: 2px;
    font-size: 16px;
    padding: 0;
    margin: 0;
}
.submenu-container h2, .submenu-container h3{
    margin: 2px;
    
}
.submenu-colum-block-news h3{
font-family: "Trebuchet MS", Helvetica, sans-serif;
font-size: 12px;
letter-spacing: -0.6px;
word-spacing: 2px;
color: blue;
}
.submenu-container li{
    padding: 0;
    margin: 0;
}

.submenu-container li a{
    font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
letter-spacing: -0.6px;
word-spacing: 2px;
color: #84557F;
}
.submenu-container a:hover{
    text-decoration: underline;
}
.submenu-colum-block{
    width: 100%;
}
.submenu-colum-news1{
    width: 20%;
}
.submenu-colum-news2{
    width: 80%;
    background-color: white;
}
.submenu-colum-block ul{
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}
.submenu-colum-block li{
    width:100%;
}

.search input{
    width:80%;
}

.Socialmedia-block1,.Socialmedia-block2{
    width: 100%;
}
.Socialmedia-block1 ul{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-right: 0;
    color: white;
}
.Socialmedia-block1 li{
    widows: 30%;
    padding: 10px;
}

.Socialmedia {
    display: block;
}
#Singin{
    position: relative;
border-radius: 5px;
  text-decoration: none;
          vertical-align: bottom;
          background-color: rgb(245, 197, 24);
          border: none;
          box-shadow: none;
          padding: 6px 12px;
    float: right;
    margin-right: 30%;
}

.menu-principal {
    display: flex;
    width:100%;
    padding-left: 0;
    margin-left: 0;
    padding-right: 0;
    margin-right: 0;
}
.menu-principal >li{
    padding: 5px;
    margin-top: 8px;
}
.menu-select ul{
    list-style-type: none;
    margin: 0;
}

.menu-item {
    width: 24.5%;
    border-right: 1px solid #9B9A9A;
    float: left;
    list-style: none outside none;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin: 0; 
}

/*.menu-select li:after{
    content: "";
          	left: 0;
          	background: linear-gradient(rgba(51, 51, 51, 0) 3%,
              rgb(51, 51, 51) 15%, 
              rgb(114, 114, 114) 50%, 
              rgb(35, 35, 35) 85%);
          	position: absolute;
          	right: 0;
          	width: 1px;
          	bottom: 0;
          	top: 0;
}*/

.menu-select li:hover >.submenu-container {
    display: flex;
    z-index: 10000;
    visibility: visible;
    opacity: 1;
    transition: all 0.3s 0.2s ease-in-out;
    border-radius: 5px;
    overflow: hidden;
}
.submenu-colum{
    width: 40%;
    
}
.submenu-colum-img{
    width: 60%;
}
.sumbenu-colum-img-wrapper{
    position: relative;
    width: 100%;
    height: 100%;
}
.submenu-text-img{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.5);
    color: white;
}
.submenu-text-img h3, .submenu-text-img p{
    padding: 0;
    margin: 0;
}
.left{
box-shadow: inset -13px 0px 10px 0px rgba(0,0,0,0.25);
}
.menu-image{
    width: 100%;
    height: 100%;
}
#watchlist-ul{
   display: flex;
    align-items: right;
    width:100%;
    padding: 10px;
}
#watchlist-ul li{
    padding: 5px;
}
/*ENDHEADER*/

/*CONTAINER BODY ASIDE*/

#supreme-container{
    display: flex;
    width: 100%;
}
#mega-supreme-container{
    width: 70%;
    position: relative;
    left:15%;
    right:15%;
box-shadow: 5px 5px 15px -1px #000000;
}

/*END CONTAINER BODY ASIDE*/
/*MAIN*/
main{
    width: 70%;
    padding-right: 20px;
    border-right: 5px solid gray;
    background-color: white;
}
/*MAINMOVIES*/
        #movies-container{
            padding-top: 10px;
            padding-left: 10px;
            padding-right: 10px;
            background-color: rgb(54, 52, 47);
            width: 100%;
        }
        #movies-container p a{
            color:darkturquoise;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 18px;
            letter-spacing: -0.6px;
            word-spacing: 2px;
        }
        #movies-container a:hover{
            text-decoration: underline;
        }
        #movies-container p{
            margin-top: 0;
            margin-bottom: 5px;
        }

        #movies-text{
            padding-bottom: 10px;
            padding-left: 10px;
        }
        #movies{
            display: flex;
            width:100%;
            background-color: rgb(54, 52, 47);
        }
        .movies-image{
            position: relative;
            width:100%;

        }
        .movies-image-image{
            width: 100%;
        }
        .movies-image-text{
            position: absolute;
            bottom: 0;
            right: 0;
            left: 0;
            background-color: rgba(0,0,0,0.6);
            text-align: center
        }
        .movies-image{
            width:calc(100%/3);
            padding: 10px;
            position: relative;
        }
        .play-button{
            position: absolute;
            width:50%;
            height: 35%;
            right: 25%;
            left: 25%;
            bottom: 32.5%;
            top: 32.5%;
        }
        .movies-image-wrapper{
            width:100%;
            position: relative;
        }
        .movies-image-text h2 a{
            color: white;
            font-size: 14px;
            font-family: "Arial Black", Gadget, sans-serif;
            letter-spacing: -0.6px;
            word-spacing: 2px;
        }
        .movies-image-text h2{
            margin: 5px;
        }
        .movies-image-text p{
            color: white;
           font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        letter-spacing: -0.6px;
        word-spacing: 2px; 
        }

/*ENDMAINMOVIES*/

/*MAIN-ARTICLES*/
#articles{
    padding-left: 20px;
}
.article{
 width: 100%;
 border-bottom: 1px solid gray;
}
.article h2 a{
font-family: Arial, Helvetica, sans-serif;
font-size: 24px;
letter-spacing: 2px;
word-spacing: 2px;
color: gray;
font-weight: normal;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: none; 
}
.article p a{
    font-family: Arial, Helvetica, sans-serif;
font-size: 16px;
letter-spacing: 2px;
word-spacing: 2px;
    color: dodgerblue;
}
.article p a:hover{
    text-decoration: underline;
}


.article-principal{
    width: 100%;
}
.article-principal-image{
    width: 100%;
    position: relative;
}
.article-image{
    width:100%;
}

.play{
    position: absolute;
    width:18%;
    height: 30%;
    right: 41%;
    left: 41%;
    bottom: 35%;
    top: 35%;
}
.article-principal-text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    letter-spacing: -0.6px;
    word-spacing: 2px; 
    color: black;
}
.article-principal-text a{
    color: dodgerblue;
}
.article-principal-text a:hover{
    text-decoration: underline;
}
.article-principal-images{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
}
.article-image-side{
    width: calc(100%/3);
    padding-right: 5px;
    padding-left: 5px;
}
.article-headline{
    display: flex;
    width: 100%;
    position: relative;
}
.article-headline-title{
    float: left;
    width:30%;
}
.article-headline-title h2 a{
    float: left;
    font-family: Arial, Helvetica, sans-serif;
font-size: 24px;
letter-spacing: 2px;
word-spacing: 2px;
color: gray;
font-weight: normal;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: none; 
}
.article-headline-list ul{
    display: flex;
    list-style-type: none;
    margin-top: 19.920;
    padding: 0;
    float: right;
}
.article-headline-list{
    width:70%;
    float: left;
}
.article-headline-list ul li,.article-principal-title ul li,.sub-article-principal ul li{
    padding: 5px;
    position: relative;
}
.article-headline-list ul li a{
    color: cadetblue;
           font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        letter-spacing: -0.6px;
        word-spacing: 2px;
} 
.article-list ul li a:hover{
    text-decoration: underline;
}
.article-list-item:after{
    content: "";

          	background: linear-gradient(rgba(51, 51, 51, 0) 3%,
              rgb(51, 51, 51) 15%, 
              rgb(114, 114, 114) 50%, 
              rgb(35, 35, 35) 85%);
          	position: absolute;
          	right: 0;
          	width: 1px;
          	bottom: 0;
          	top: 0;
}
.article-principal-title ul, .sub-article-principal ul{
    display: flex;
    list-style-type: none;
    padding: 0;
    margin-top: 5px;
    margin-bottom: 5px;
}
.article-principal-title ul li{
    font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        letter-spacing: -0.6px;
        word-spacing: 2px;
}
.article-principal-title h3{
    margin-bottom: 3px;
}
.article-principal-title h3 a{
    font-family: Arial, Helvetica, sans-serif;
font-size: 14px;
letter-spacing: 2px;
word-spacing: 2px;
    color: dodgerblue;
}
#article-principal-text-p{
    margin-bottom: 3px;
    margin-top: 5px;
}
#article-principal-image{
    display: table-cell;
    float: left;
    padding-right: 15px;
    vertical-align: top;
}
.sub-article-principal h3 a{
   font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
letter-spacing: 2px;
word-spacing: 2px;
    color: dodgerblue; 
}
.sub-article-principal h3{
    margin-bottom: 3px;
    margin-top: 3px;
}
.sub-article-principal-container{
    display: flex;
    width: 100%;
}
.sub-article-principal-colum{
    width: 50%;
    padding: 5px;
}
.sub-article-principal ul li{
    font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        letter-spacing: -0.6px;
        word-spacing: 2px;
}
.article-image-side-bd p{
    text-align: center;
    margin-bottom: 1px;
}
.article-image-side-bd{
    width: calc(100%/5);
    padding-right: 5px;
    padding-left: 5px;
    display: block;
}
.article-image-side-bd-txt,.article-image-side-bd-image{
    width: 100%;
}
.article-image-side-bd-txt p a {
    font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        letter-spacing: -0.6px;
        word-spacing: 2px;
}
.article-image-side-bd-txt p {
    font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        letter-spacing: -0.6px;
        word-spacing: 2px;
    width: 100%;
}
#p-bd{
    margin-top: 3px;
}
.article-image-side-half{
    width 50%;
        padding-right: 5px;
    padding-left: 5px;
}

/*END-MAIN-ARTICLES*/

/*ENDMAIN*/


/*ASIDE*/

aside{
        background-color: rgba(227, 227, 227);
    width: 30%;
    padding-right: 10px;
    padding-left: 10px;
}

.aside-article{
    width: 100%;
    border-bottom: 1px solid gray;
}
.aside-row{
    display: flex;
    width: 100%;
}

.aside-row-colum2{
    width: 100%;
}
.aside-article h2{
    width: 100%;
}
.aside-article h2 a{
    font-family: Arial, Helvetica, sans-serif;
font-size: 24px;
letter-spacing: 2px;
word-spacing: 2px;
color: black;
font-weight: normal;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: none; 
}
.aside-row-colum2 h3{
    width: 100%;
    margin-bottom: 3px;
    margin-top: 3px;
}
.aside-row-colum2 h3 a{
    font-family: Arial, Helvetica, sans-serif;
font-size: 15px;
letter-spacing: -0.6px;
word-spacing: 2px;
color:  slateblue;
}
.aside-article-image{
    width: 100%;
}
.aside-article p {
    font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        letter-spacing: -0.6px;
        word-spacing: 2px;
}
.aside-article p a{
    color: cadetblue;
}
.aside-article a:hover{
    text-decoration: underline;
}
.aside-row p{
   margin-top: 3px;
margin-bottom: 3px;
}

.aside-row-colum2 p {
    font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        letter-spacing: -0.6px;
        word-spacing: 2px;
    color: rgb(117, 117, 117);
}

/*ENDASIDE*/

/*FOOTER*/

footer{
    height: 50%;
    background-color: white;
    border-top: 5px solid gray;
}

/*ENDFOOTER*/


























